html { overflow-y: scroll; }

body {
  font-family: 'Open Sans', arial, sans-serif; 
  color: #444;
  background: #fff;
  font-weight: 400;
  font-size: 15px;
}


header {
  background: #2f3c59;
  padding: 2.5em 0px 2em 0;
  border-bottom: 2.7px solid rgba(0,0,0,0.3);
}   


header img {
  width: 115px;
  float: left;
  margin-right: 11px;
}


.title {
  color: rgba(255,255,255,1);
  font-size: 1.25em;
  float: left;
}


#date {
    color: rgba(255,255,255,.4);
    font-size: .9em;
    float: right;
    margin-top: 4px;
  }

  #ip-address {
    color: rgba(255,255,255,.4);
    font-size: .9em;
    float: right;
    clear: right;
   
  }

img {
  max-width: 100%;
    overflow: hidden;
}


.header {
  border-bottom: 1px solid #eee;
}





        .wrapper {
          border: 1px solid #eeeeee;
          padding: 20px;
      
        }

        #navigation {
         margin-bottom:17px;

        }


h1,h2,h3 {
  color: #101010;
}


h1 {

  font-weight: 300;
  margin: 0 0 .5em 0;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
  margin: 1em 0 .5em 0;
}


h3 {
  font-size: 1.2em;
  font-weight: 100;
  margin: 1em 0 .5em 0;
}


p {
 
  margin: 0 0 .5em 0;
}



hr {
  margin: .75em 0;
  border-top: 1px solid #eee;
}



footer .container {
  border-top: 1px solid #eee;
  margin-top: 3em;
}



.seal {
  width: 70px;
  padding-right: 13px;
  float: left;
  margin-top: -10px;
}
.copyright {
  float: left;
  color: #999;
  font-size: 13px;

}



footer ul {
  list-style-type: none;
  float: right;
}
footer ul li {
  float: left;
  text-align: right;
}
footer ul li a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  padding-left: 17px;
  
}

footer ul li a:hover {
  text-decoration: none;
  color: #999;
  transition: all .1s linear;
}




.table {
  border: 1px solid #dee2e6;
  font-size: 13px;
  color: #444;
}


thead tr {
  background: #fafafa;

}

.table thead th {
  border-bottom: 1px solid #dee2e6;

}


th a, th a:hover, th a:visited {
  padding:15px 0;
  color: #333;
}







@media (max-width: 796px) {

#date {
 
  display: none;
}
header {
  padding: 13px 0;
  transition: all linear .1s
}


.table td, .table th {
  padding: .75rem 0;
}
.copyright {
  font-size: 10px;
  color: #666;
}
footer ul {
  float: left;
  padding: 0 0 20px 0;
}
footer ul li  {
  width: 100%;
  float: left;
 text-align: left;
 padding: 10px 0;
}
footer ul li a {
  color: #666;
}
footer {
background: #101010;
}
}